#
# Himax Touchscreen driver configuration
#

config TOUCHSCREEN_HIMAX_MMI
        tristate "HIMAX chipset mmi touchscreen"
		help
		This enables support for HIMAX MMI CHIPSET over I2C based touchscreens.
